<app-navbar></app-navbar>
<app-profile-select></app-profile-select>
<div>
  <h1>Account Details</h1>
  <br>
  <div *ngFor="let account of accounts">
  <h3>Account Name: {{account.accountName}}</h3>
  <h3>Current Balance: {{account.currentBalance | currency}}</h3>
  <h3>Most Recent Transactions:</h3>
  <br>
  <table class="table">
    <thead>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">Balance</th>
    </thead>
    <tbody *ngFor="let detail of accountDetails">
      <tr>
        <td>{{ detail.amount | currency }}</td>
        <td>{{ detail.description }}</td>
        <td>{{ detail.updatedBalance | currency }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  </div>